{% extends 'aplicacao/main.html' %}

{% block content %}

<section class="hero-section__box" style="width: 1120px;">
  <div class="card" style="margin-left: 30%; margin-top: 3%;">
    <div class="card__body">
      <h1>App Web Crawler por <a href="https://portfolio-gabrielcm.herokuapp.com/" target="_blank">Gabriel de Christo Marques</a>:</h1>
      <h2>- <a href="{% url 'crawler' %}" target="_blank">Aplicação Web Crawler</a></h2>
      <h2>- <a href="{% url 'crawler-blog' %}" target="_blank">Blog: Como foi feito</a></h2>
      <h2>- <a href="https://github.com/gabrielcmarques/portfolio/tree/master/projeto_web_cralwer" target="_blank">Código Fonte no Github</a></h2>
    </div>
  </div>
</section>

  {% endblock content %}