{% extends 'main.html' %}

{% block content %}

<main class="auth">
    <section class="auth__header" style="padding-bottom: 10%; ">    

<div class="card" style="width: 1200px">
    <div class="card__body">       
    {% for avatar in perfil %} 
    <img class="avatar avatar--lg" src="{{avatar.imagem_avatar.url}}"/> 
    {% endfor %}
    <h2 style="margin-left: 20%;">Sobre mim:</h2>         
        <h6 style="margin-left: 20%;" >Sou entusiasta na área de computação, adoro usar o computador e navegar na internet
            desde jovem. Decidi ir para o caminho da programação, em específico para Web Developer e 
            nos últimos 3 anos tenho me dedicado para adquirir o conhecimento necessário 
            para trabalhar com algo que eu gosto estudando programação. Estou programando em
            Python há mais de um ano e sigo em busca de oportunidades profissionais para exercer minha paixão </h6>
    </div>
</div>

<div class="card" style="width: 1200px">
    <div class="card__body">     
        <h2>Minhas principais ferramentas:</h2>
        <ul>
            {% for foto in perfil %}
            <img class="avatar avatar--md" src="{{foto.ferramenta1.url}}" title="Python" />
            <img class="avatar avatar--md" src="{{foto.ferramenta2.url}}" title="Django"/>
            <img class="avatar avatar--md" src="{{foto.ferramenta3.url}}" title="PostgreSQL"/>
            <img class="avatar avatar--md" src="{{foto.ferramenta4.url}}" title="Git e Github"/>
            <img class="avatar avatar--md" src="{{foto.ferramenta5.url}}" title="Docker"/>
            {% endfor %}
            
            <h6>
            <li><a href="https://www.cursoemvideo.com/validacao-de-certificado/?codigo=1C9F1-685A-5" target="_blank"><u>Python 3</u></a> com o professor Gustavo Guanabara pelo <a href="https://www.cursoemvideo.com/" target="_blank"><u>Cursoemvideo.com</u></a></li>
            <li><a href="https://www.udemy.com/certificate/UC-88ad5722-76f2-489d-8895-df58c5a7aa42/" target="_blank"><u>Django 2021 e DRF API</u></a> com o professor Dennis Ivy pelo <a href="https://www.udemy.com/course/python-django-2021-complete-course/" target="_blank"><u>Udemy.com</u></a></li>
            <li>Database relacional com Mysql e PostgreSQL</li>
            <li>Controle de versionamento com Git e Github</li>
            <li>Docker Containers</li>
            <li>Em breve Javascript NodeJS</li>
            <!-- <li><a href="#"><u> Entre outras qualificações ()</u></a></li> -->
            
            
        </h6>
        </ul>
    </div>
    
</div>

<!-- <div class="card" style="width: 1000px">
    <div class="card__body">     
        <h2>Projetos:</h2>
        <a href="{% url 'projetosHome' %}" target="_blank"><u>Em contruçao..</u></a>
    </div>
</div> -->

<!-- <div class="card" style="width: 1000px">
    <div class="card__body">     
        <h2> Contato:  </h2>
        <p>Gmail: <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><u>gabrielchristomarques@gmail.com</u></a></p>
        <p>Linkedin: <a href="https://www.linkedin.com/in/gabriel-christo-marques/" target="_blank"><u>Gabriel C. Marques</u></a></p>   
    </div>
</div> -->

    <!-- <h1>Heading H1 (48px)</h1>
    <h2>Heading H2 (36px)</h2>
    <h3>Heading H3 (32px)</h3>
    <h4>Heading H4 (28px)</h4>
    <h5>Heading H5 (24px)</h5>
    <h6>Heading H6 (18px)</h6>
    <p>Paragraph text (16px)</p>
    <span>Span Tag (16px)</span>
    <strong>Strong tag (16px)</strong> -->
</section>

</main>
{% endblock %}
