{% extends 'main.html' %}

{% block content %}

<main class="auth">
    <section class="hero-section__box" style="width: 1095px;">

        <div class="card" >
            <div class="card__body">
            <img class="avatar--profile" src="https://i.imgur.com/BHwqOoz.jpg"/> 
            <h2 class="" style="text-align: left; padding-left: 30%;">Sobre mim:</p>         
                <h6 class="dev__info" style="margin-left: 30rem;">Olá tudo bem? Meu nome e Gabriel, sou um programador especializado 
                    no back-end com noções básicas de. Sempre fui entusiasta na área de computação desde jovem, decidi ir para o caminho da programação e 
                    automação de sistemas, nos últimos 5 anos tenho me dedicado para adquirir o conhecimento necessário para trabalhar 
                    com algo que eu gosto estudando programação. Sigo em busca de oportunidades profissionais para exercer minha paixão 
                    oferecendo solução de problemas em forma de programação.
                </h6>
            </div>
        </div>

        <div class="card" style="width: 1095px;">
            <div class="card__body" >     
                <h2 style="text-align: center;" id="mpf">Minhas principais ferramentas e conhecimentos:</h2>
                <ul>   
                    <div style="margin-left: 19%;">                        
                        <img class="tools tools--md" src="https://i.imgur.com/phoSvSz.jpg" title="Uninter" />
                        <img class="tools tools--md" src="https://i.imgur.com/JkfExuR.jpg" title="Python" />
                        <img class="tools tools--md" src="https://i.imgur.com/9pISVwE.jpg" title="Django"/>
                        <img class="tools tools--md" src="https://i.imgur.com/5mn8Yni.jpg" title="PostgreSQL"/>
                        <img class="tools tools--md" src="https://i.imgur.com/i88sDAm.jpg" title="Git e Github"/>
                        <img class="tools tools--md" src="https://i.imgur.com/V56TTPG.jpg" title="Docker"/>
                        <img class="tools tools--md" src="https://i.imgur.com/mJw7cYC.jpg" title="HTML"/>
                        <img class="tools tools--md" src="https://i.imgur.com/X7awHaC.jpg" title="CSS"/>
                    </div>
                <h6>                    
                    <li><a href="https://www.uninter.com/consulta-publica-de-diploma/" target="_blank"><u>Faculdade Uninter, Graduação em ADS</u></a>: Algorítmos, 
                        Solução de Problemas, Fundamentos, Lógica, Banco de Dados, Árvores Binárias, POO, SI e SO. Exercícios em C, C++, C# e Java. 
                        <u>Código Verificador:</u> 1092828C0D27E6B8FEE9C0572189DFC7, <u>Código de registro:</u> 190316|1621427|2464</li>
                    <li><a href="https://www.cursoemvideo.com/validacao-de-certificado/?codigo=1C9F1-685A-5" target="_blank"><u>Python</u></a>:
                         OOP, Loops, Dicts, Date & Time, Class, Functions, I/O, Exceptions, Files.</li>
                    <li><a href="https://www.udemy.com/certificate/UC-88ad5722-76f2-489d-8895-df58c5a7aa42/" target="_blank"><u>Django</u></a>:
                         C.R.U.D, User Registration, Login/Logout, ORM, Emails, Search, Pagination. </li>
                    <li><a href="https://www.udemy.com/certificate/UC-88ad5722-76f2-489d-8895-df58c5a7aa42/" target="_blank">
                        <u>Django Rest Framework API</u></a>: Restful API, Serializers, Postman, Authentication & Authorization, JSON Web Tokens,
                         GET/POST/PUT/DELETE Requests, CORS.</li>
                    <li>Database relacional com Mysql e PostgreSQL: CLAUSES, CONSTRAINTS, JOINS, Backups, Queryset, Psycopg2, ORM, Integration</li>
                    <li>Controle de versionamento com Git e Github</li>
                    <li>Docker Containers</li>
                    <li>HTML & CSS Básico</li>    
                </h6>            
                </ul>
            </div>
        </div>

        <div class="card" style="width: 1095px;">   
            <div class="card__body" >    
            <h2 style="text-align: center;">Atualmente explorando o Frontend (Set/Out 2022):</h2>
            <ul>
                <div style="margin-left: 35%;">
                    <img class="tools tools--md" src="https://i.imgur.com/cJV58PT.jpg" title="Javascript" />
                    <!-- <img class="tools tools--md" src="https://i.imgur.com/WeMnDLK.jpg" title="Typescript" /> -->
                    <img class="tools tools--md" src="https://i.imgur.com/cRAOPk8.jpg" title="React" />
                    <!-- <img class="tools tools--md" src="https://i.imgur.com/A0aiBt4.jpg" title="Tailwind CSS"/> -->
                    <img class="tools tools--md" src="https://i.imgur.com/0y7gkEm.jpg" title="Revisar"/>
                    <img class="tools tools--md" src="https://i.imgur.com/9WOg2Sz.jpg" title="VueJS"/>
                    <img class="tools tools--md" src="https://i.imgur.com/mJw7cYC.jpg" title="HTML"/>
                    <img class="tools tools--md" src="https://i.imgur.com/X7awHaC.jpg" title="CSS"/>
                </div>

                <h6>
                    <li>Javascript</li>            
                    <li>NodeJS</li>            
                    <li>VueJS</li>            
                    <li>React</li>           
                    <li>Revisar e treinar mais os conteúdos aprendidos</li>    
                    <li>HTML e CSS Avançado</li> 
                </h6>  
            </ul>   
            </div>     
        </div>

        <!-- proj -->
    <div class="card" id="projetos">
        <div class="project">
            <h2 style="text-align: center;">Tipos de projetos que posso desenvolver:</h2>     

            <div class="card__body">                 
                <img src="https://i.imgur.com/f0f7jXr.jpg" class="avatarright--lg"/>
                <h5><u>App C.R.U.D:</u></h5>                
                <p style="padding-right: 53%;">Aplicativos baseados em <a href="https://pt.wikipedia.org/wiki/CRUD">CRUD</a>,
                onde o usuário final vai poder criar postagens para websites como blogs, notícias e e-commerce, adicionando 
                título, corpo da mensagem, tags, imagens e anexos, formatações em markdown como <i>Italic</i>, <b>Bold</b> e <u>Sublinhado</u>.</p>                
            </div>

            <div class="devInfo__otherSkills" style="padding-left: 2%;">
                <span class="tag tag--pill tag--lg">
                    <small>Python</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Javascript</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>NodeJS</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Express</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Django</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>HTML</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>CSS</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>SQL</small>
                </span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="project">
            <div class="card__body">                 
                <img src="https://i.imgur.com/xcmSSAQ.jpg" class="avatarleft--lg" />
                <h5 style="padding-left: 52%;"><u>Cadastro de Usuários:</u></h5>                
                <p style="padding-left: 52%;">Sistema de cadastro para o usuário final do website, eu separo em três etapas, primeiro 
                apenas o email e senha, meu bot vai gerar um token e enviar um email confirmando o cadastro, após o usuário confirmar, 
                vai ser redirecionado para completar o resto das informações que vão ser salvas em um servidor SQL. Posso também 
                configurar esse bot de emails para newsletters contando novidades do website para o usuário cadastrado.</p>                
            </div>

            <div class="devInfo__otherSkills" style="padding-left: 51%;">
                <span class="tag tag--pill tag--lg">
                    <small>Python</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Django</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Emails</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>SQL</small>
                </span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="project">
            <div class="card__body">                 
                <img src="https://i.imgur.com/YFSDsDl.jpg" class="avatarright--lg"/>
                <h5><u>API Restful:</u></h5>                
                <p style="padding-right: 53%;">API Restful do website, dando query nas informações do database SQL,
                 filtrar a informação por meio de ORM da linguagem de programação para disponibilizar a informação 
                 em um formato JSON, XML, XLSX para ser utilizada em diversos endpoints.</p>                
            </div>

            <div class="devInfo__otherSkills">
                <span class="tag tag--pill tag--lg">
                    <small>Python</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Javascript</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>NodeJS</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Express</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>SQL</small>
                </span>
                <span class="tag tag--pill tag--lg">
                    <small>Django Rest Framework</small>
                </span>
            </div>
        </div>
    </div>

<div class="card">
    <div class="project">
        <div class="card__body">                 
            <img src="https://i.imgur.com/xl9pw5V.jpg" class="avatarleft--lg" />
            <h5 style="padding-left: 52%;"><u>SQL Database e ORMS:</u></h5>                
            <p style="padding-left: 52%;">Tenho conhecimentos avançados em databases relacionais MySQL e PostgreSQL, 
            para armazenar a informação que vai ser cadastrada no webiste, desde informações do usuário final como 
            nome, idade, endereço, telefone, id, até produtos do website como preço, descrição, data de criação, 
            modelo. Utilizando CLAUSES, CONSTRAINTS, JOINS, Backups, Queryset</p>                
        </div>

        <div class="devInfo__otherSkills" style="padding-left: 51%;">
            <span class="tag tag--pill tag--lg">
                <small>VSCode</small>
            </span>
            <span class="tag tag--pill tag--lg">
                <small>MySQL</small>
            </span>
            <span class="tag tag--pill tag--lg">
                <small>PostgreSQL</small>
            </span>
        </div>
    </div>
</div>


    <div class="card" style="width: 1095px; height: 300px;">
        <div class="card__body" >     
            <h2 style="text-align: center;" id="contato">Contato:</h2>
            <h5>Linkedin: <a href="https://www.linkedin.com/in/gabriel-christo-marques/" target="_blank"> Gabriel C. Marques</a></h5>
            <h5>Email: <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">gabrielchristomarques@gmail.com</a></h5>
            <h5>Github: <a href="https://github.com/gabrielcmarques" target="_blank">gabrielcmarques</a></h5>
        </div>
    </div>
    
    </section>
</main>
{% endblock %}

